# fly.toml app configuration file generated for hotel-inteligente-frontend on 2025-11-29T18:58:52-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hotel-inteligente-frontend'
primary_region = 'gru'

[build]
dockerfile = 'Dockerfile'
[build.args]
NEXT_PUBLIC_PYTHON_API_URL = 'https://hotel-inteligente.fly.dev'
NEXT_PUBLIC_GO_API_URL = 'https://hotel-inteligente-go.fly.dev'

[env]
NODE_ENV = 'production'
PORT = '3000'

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'suspend'
auto_start_machines = true
min_machines_running = 0
processes = ['app']

[http_service.concurrency]
type = 'requests'
hard_limit = 250
soft_limit = 200

[[http_service.checks]]
interval = '30s'
timeout = '10s'
grace_period = '30s'
method = 'GET'
path = '/'

[[vm]]
size = 'shared-cpu-1x'
memory = '256mb'
cpu_kind = 'shared'
cpus = 1
